<div class='card-deck'>
    <div class='card' *ngFor='let hospital of hospitalList'>
        <div class='card-header' style='text-align: center'><img src='assets/images/hospital.png' class='card-img-top'></div>
        <div class='card-body'>{{hospital.id}} - {{hospital.hospitalName}}</div>
        <div class='card-footer'>{{hospital.phone}}</div>
    </div>
</div>

<app-feed-back></app-feed-back>

<div class='row'>
    <div class='col-md-6'>
        <ol>
            <li *ngFor='let review of reviews'>{{review}}</li>
        </ol>
    </div>
    <div class='col-md-6'>
        <ol>
            <li *ngFor='let rating of ratings'>{{rating}}</li>
        </ol>
    </div>

</div>