<div appCreateHeader headerText="TransactionHistory">

</div>
<label>Search by Detail</label>
<input [(ngModel)]='srchString' type='search'>

<table class='table table-striped'>
    <tr>
        <th>Id</th>
        <th>Detail</th>
        <th>Date</th>
        <th>Value</th>
    </tr>
    <tr *ngFor="let eachItem of txnList |filter:'detail':srchString" appHighLight>
        <td>{{eachItem.id}}</td>
        <td>{{eachItem.detail | uppercase}}</td>
        <td>{{eachItem.date |date :'medium'}}</td>
        <td>{{eachItem.value |currency:'INR '}}</td>
        <td><a [routerLink]="['/history',eachItem.id]">More Details</a></td>
    </tr>
</table>

<div style='background-color: pink'>
    {{info}}
</div>